/tellon-app/build
/tellon-annotations/build
/tellon-core/build
/observers/git-project-observer/build
/notifiers/log-notifier/build/
/notifiers/mail-notifier/build/
/.idea
/out
mail-notifier.properties
/.gradle
*.iml
